<img src="img/Logo_itq.png" width="200"/>

# EJERCICIOS
<img src="img/python_logo.png"/> <br>
**Nombre:** Kevin Jaramillo<br>
*Fecha:* 29/06/2025

* Escribe un programa que muestre por pantalla la concatenación de un número y una cadena de caracteres. Para obtener esta concatenación puedes usar uno de los operadores explicados en este tema. Ejemplo: dado el número 3 y la cadena 'abc', el programa mostrará la cadena '3abc'.

In [5]:
a = 43
b = "Kevin Jaramillo"
print(str(a) + b)
print(id(a))
print(id(b))

43Kevin Jaramillo
140727944067304
2011664323888

* Escribe un programa que muestre por pantalla un valor booleano que indique si un número entero N está contenido en un intervalo semiabierto [a,b), el cual establece una cota inferior a (inclusive) y una cota superior b (exclusive) para N.

In [9]:
a = 2
b = 15
N = 9
resul = a <= N < b
print(resul)

True

In [8]:
a = 2
b = 15
N = 20
resul = a <= N < b
print(resul)

False

* Escribe un programa que, dado dos strings S1 y S2 y dos números enteros N1 y N2, determine si el substring que en S1 se extiende desde la posición N1 a la N2 (ambos inclusive) está contenido en S2.

In [11]:
S1 = "KevinJaramillo"
S2 = "Hola me llamo Jaramillo Kevin"
N1 = 5
N2 = 13

substring = S1[N1:N2+1]
resultado = substring in S2
print(resultado)

True

In [12]:
S1 = "KevinJaramillo"
S2 = "Hola me llamo Jaramillo Kevin"
N1 = 2
N2 = 12

substring = S1[N1:N2+1]
resultado = substring in S2
print(resultado)

False

* Dada una lista con elementos duplicados, escribir un programa que muestre una nueva lista con el mismo contenido que la primera pero sin elementos duplicados.

In [14]:
lista_duplicada = [1,2,3,4,2,3,4,5,6,7,8,8,9]
print(lista_duplicada)
lista = list(set(lista_duplicada))
print(lista)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 7, 8, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

* Escribe un programa que, dada una lista de strings L, un string s perteneciente a L y un string t, reemplace s por t en L. El programa debe mostrar la lista resultante por pantalla.

In [16]:
L = ["manzana", "pera", "banana", "pera"]
s = "pera"
t = "uva"
L_resultado = [ t if elemento == s else elemento for elemento in L]
print(L)
print(L_resultado)

['manzana', 'pera', 'banana', 'pera']
['manzana', 'uva', 'banana', 'uva']

* Escribe un programa que defina una tupla con elementos numéricos, reemplace el valor del último por un valor diferente y muestre la tupla por pantalla. Recuerda que las tuplas son inmutables. Tendrás que usar objetos intermedios.

In [18]:
tupla = (11, 24, 30, 55 ,90)
lista = list(tupla)
lista[-3] = 12
tupla_nueva = tuple(lista)
print(tupla)
print(tupla_nueva)

(11, 24, 30, 55, 90)
(11, 24, 12, 55, 90)

* Dada la lista [1,2,3,4,5,6,7,8] escribe un programa que, a partir de esta lista, obtenga la lista [8,6,4,2] y la muestre por pantalla.

In [19]:
Lista = [1, 2, 3, 4, 5, 6, 7, 8]
lista_1 = [x for x in Lista if x % 2 == 0][::-1]
print(lista_1)

[8, 6, 4, 2]

* Escribe un programa que, dada una tupla y un índice válido i, elimine el elemento de la tupla que se encuentra en la posición i. Para este ejercicio sólo puedes usar objetos de tipo tupla. No puedes convetir la tupla a una lista, por ejemplo.

In [21]:
t = (20, 40 ,70, 80 ,100)
i = 3
tupla = t[:i] + t[i+1:]
print(tupla)

(20, 40, 70, 100)

* Escribe un programa que obtenga la mediana de una lista de números. Recuerda que la mediana M de una lista de números L es el número que cumple la siguiente propiedad: la mitad de los números de L son superiores a M y la otra mitad son inferiores. Cuando el número de elementos de L es par, se puede considerar que hay dos medianas. No obstante, en este ejercicio consideraremos que únicamente existe una mediana.

In [30]:
L = [3, 4, 8, 10, 24]
L.sort()
n = len(L)
medio = n // 2
if n % 2 == 1:
    mediana = L[medio]
else:
    mediana = (L[medio - 1] + L[medio]) /2
print(L)
print("La mediana es:", mediana)

[3, 4, 8, 10, 24]
La mediana es: 8

In [27]:
L = [4, 1, 7, 3, 2, 9]
L.sort()
n = len(L)
medio = n // 2
if n % 2 == 1:
    mediana = L[medio]
else:
    mediana = (L[medio - 1] + L[medio]) / 2
print(L)
print("La mediana es:", mediana)

[1, 2, 3, 4, 7, 9]
La mediana es: 3.5